@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

h2 {
  font-size: clamp(2.5rem, 1.4167rem + 5.4167vw, 5.75rem);
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
  line-height: 1.4;
}

.mask {
  mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
}

.marquee {
  animation: marquee 550s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 2.1875rem));
  }
}
