@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: clamp(2.875rem, 1.9167rem + 4.7917vw, 5.75rem);
  line-height: 1.2;
}

@media (min-width: 800px) {
  h1 {
    line-height: 1.125;
  }
}

h2 {
  font-size: clamp(2.5rem, 1.4167rem + 5.4167vw, 5.75rem);
  font-weight: 400;
  line-height: 1.125;
}

h3 {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 3rem);
  line-height: 1.4;
}

.mask {
  mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
}

.marquee {
  animation: marquee 250s linear infinite;
}

.testimonial-marquee {
  animation: marquee 550s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 2.1875rem));
  }
}
